#Fields {
  background-color: #6DDCBD;
  position: sticky;
  width: 300px;
  height: 700px;
  overflow: auto;
}

#VacanciesList {
  width: 800px;
  background-color: darkgreen;
  border: 3px solid darkgreen;
  position: absolute;
  left: 21%;
  top: 20%;

}
#V_ListElement {
  width: 99%;
  background-color: darkseagreen;
  margin: 0.5%;
  overflow: hidden;
}

#VacancyListInfo {
  margin: 20px;
}

#Search {
  width: 600px;
  position: absolute;
  left: 21%;
  margin: 20px;
}

#More_btn {
  width: 120px;
  height: 40px;
  position: relative;
  left: 600px;
  bottom: 80px;
}
